// app global css in SCSS form
@tailwind base;
@tailwind components;
@tailwind utilities;

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* For WebKit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background-color: $secondary;
}
